body{
    background-image: url(images/test.jpg);
    background-repeat: no-repeat;
    margin: 0;
    margin: 0;
background-size: cover;
background-attachment: fixed;
}
#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
   height: 100vh;
}
#clock{
    color: bisque;
    font-size: 6.5rem;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    backdrop-filter: blur(5px);
    width: 100%;
}